# Example Evaluation Code

This notebook will be very __similar__ to the code I use to evaluate your results - it is provided for __your convenience__ so that you can use it to evaluate your preprocessing results at any time before your __final submission__.

Please note that the results here will __NOT__ be the same as my evaluation results.

Let's start with loading the required packages.

In [37]:
# import required package for data handling
import pandas as pd
import numpy as np

# import required packages for splitting data
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# import required packages for evaluating models
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support

# import `logistic regression` model
from sklearn.linear_model import LogisticRegression

Next you should load __your__ data. In this case, I am using a sample dataset (`GroupX.csv`) which contains 6 predictors (`X1 - X6`) and two target variables (`Y1, Y2`).

Please make sure you change the data to your __OWN__ dataset when using this code.

__NOTE__:
1. Your dataset maybe very different from the sample dataset.
2. Please follow this structure when submitting your dataset.

In [54]:
data = pd.read_csv('./Datasets/dropmissing.csv', header=0)
data.head()

,Unnamed: 0,C1,C2,C4,C7,C3',C5',C6',Y1,Y2
0,0,122.0,1.0,0.029074,51.345,1,3.864345,11.111111,0,1
1,1,259.0,0.0,-0.013352,25.936,0,12.028832,0.000000,1,0
2,2,90.0,1.0,0.020715,7.378,0,3.369134,0.000000,1,0
3,3,209.0,1.0,0.020023,8.526,0,3.299697,0.000000,1,1
4,4,80.0,1.0,-0.034895,632.298,1,3.726269,5.000000,0,1

Checking your data types and make sure it follows the data dictionary would be an important step, you can do that using the `.dtypes` attribute.

__NOTE__: all __continuous__ faetures will be in `float64` data type, and all __categorical__ features will be in `int64` data type (given you already coded (per __suggest task \#6__ in the competition document) them).

In [55]:
data.dtypes

Unnamed: 0      int64
C1            float64
C2            float64
C4            float64
C7            float64
C3'             int64
C5'           float64
C6'           float64
Y1              int64
Y2              int64
dtype: object

Now you need to specify your targets and predictors. __NOTE__ we have two targets here (`Y1, Y2`).

In [56]:
y1 = data.Y1
y2 = data.Y2

Check the shape of the data.

In [57]:
data.shape

(593, 10)

It is very possible that you will use different sets of the predictors for `Y1` and `Y2`. Now let's define them.

First, let's define predictors for `Y1` - which will be the first 5 features in `data`.

In [43]:
cols = list(data.columns)
# first 5 features 
cols[:-2]

['Unnamed: 0', 'C1', 'C2', 'C4', 'C7', "C3'", "C5'", "C6'"]

Use below code to select the first 5 features as predictors for `Y1`.

In [66]:
datay1 = data.drop(data.columns[-3:], axis = 1)

In [67]:
datay1

     Unnamed: 0      C1   C2        C4        C7  C3'        C5'
0             0   122.0  1.0  0.029074    51.345    1   3.864345
1             1   259.0  0.0 -0.013352    25.936    0  12.028832
2             2    90.0  1.0  0.020715     7.378    0   3.369134
3             3   209.0  1.0  0.020023     8.526    0   3.299697
4             4    80.0  1.0 -0.034895   632.298    1   3.726269
5             5    94.0  1.0 -0.057556   197.591    1   5.724394
6             6   128.0  1.0  0.004106     5.146    0   3.463095
7             7   100.0  1.0 -0.029316   279.600    0   4.816591
8             8   106.0  1.0 -0.024925   494.008    1   3.056608
9             9    99.0  1.0  0.015487     0.320    0   2.546686
10           10   126.0  1.0  0.019731    26.499    1   4.237291
11           11   140.0  1.0 -0.006316     0.074    0   3.867637
12           12   488.0  1.0  0.023275   166.896    1   3.638220
13           13   233.0  1.0 -0.085455   510.192    1   9.001571
14           14   125.0  1.0  0.000255   571.192    1   2.062121
15           15    77.0  1.0 -0.006316   363.465    1   2.308759
16           16    92.0  1.0  0.036831   170.270    1   7.634886
17           17   207.0  1.0 -0.012692   132.500    1   3.809187
18           18    78.0  1.0  0.054040  1707.564    1   4.431482
19           19    68.0  1.0  0.002546    64.606    0   2.973739
20           20    91.0  1.0  0.035828     0.176    0   3.856666
21           21   101.0  1.0 -0.001746     3.880    0   3.000278
22           22    76.0  1.0 -0.003958     2.230    0   4.117524
23           23   488.0  1.0 -0.037116    94.739    1   4.318244
24           24    40.0  1.0  0.025764   345.322    0   2.395495
25           25   113.0  1.0  0.035642   428.516    1   4.645753
26           26    75.0  1.0 -0.015947    18.643    0   2.217852
27           27    42.0  1.0 -0.037116   257.056    1   3.962826
28           28    84.0  1.0 -0.034465    59.039    0   6.322343
29           29    83.0  0.0  0.020715    38.434    1   5.717949
..          ...     ...  ...       ...       ...  ...        ...
563         563    97.0  1.0  0.004504   601.540    1   2.921290
564         564   381.0  0.0 -0.025335   135.637    1   3.959010
565         565   111.0  1.0 -0.039305   656.036    1   4.074752
566         566   140.0  1.0 -0.024694  1160.351    1   7.971014
567         567   106.0  0.0  0.003351    64.226    1   1.620918
568         568   139.0  1.0  0.029469  1045.982    1   5.054876
569         569   104.0  1.0  0.029659   515.253    0   3.548984
570         570   110.0  1.0  0.038047    80.420    1   5.637452
571         571   104.0  0.0  0.036632    67.263    0   2.314703
572         572    79.0  1.0 -0.033760  1423.034    1   5.377949
573         573   118.0  1.0 -0.013856   119.525    1   1.249200
574         574   144.0  1.0  0.001378   494.552    0   2.526391
575         575    61.0  1.0  0.029726  3436.000    0   4.553691
576         576   114.0  1.0  0.020488  3406.653    1   2.953022
577         577   125.0  1.0  0.043564    47.824    0   2.011593
578         578   124.0  0.0  0.001655    16.360    0   3.111096
579         579  1267.0  1.0  0.017000   820.665    1   3.921146
580         580   270.0  1.0 -0.023596   508.715    1   5.212790
581         581   158.0  0.0 -0.029881     0.170    0   3.517192
582         582   105.0  1.0 -0.050492    20.063    0   3.494590
583         583    81.0  1.0  0.057756   133.704    0   2.740591
584         584   389.0  1.0  0.017673   586.794    0   3.269683
585         585    93.0  1.0  0.031992    30.467    0   2.752257
586         586   234.0  0.0  0.028251   540.399    0   2.577852
587         587   119.0  1.0 -0.045155   496.413    1   6.994796
588         588   317.0  1.0  0.004670   186.101    0   3.963872
589         589    98.0  1.0  0.058689    25.461    0   4.679726
590         590   112.0  0.0  0.030425    55.431    1   3.673544
591         591    78.0  1.0  0.032284   117.857    1   4.217684
592         592   281.0  1.0  0.024687  1469.574    1   3.240507

[593 rows x 7 columns]

In [68]:

predictors_y1 = datay1

predictors_y1.head()

   Unnamed: 0     C1   C2        C4       C7  C3'        C5'
0           0  122.0  1.0  0.029074   51.345    1   3.864345
1           1  259.0  0.0 -0.013352   25.936    0  12.028832
2           2   90.0  1.0  0.020715    7.378    0   3.369134
3           3  209.0  1.0  0.020023    8.526    0   3.299697
4           4   80.0  1.0 -0.034895  632.298    1   3.726269

Upon investigation of the data, we know we have __six__ features (`X1 - X6`) predicting `Y2`. Use similar code (as below) to select them.

In [69]:
predictors_y2 = data[data.columns[0:8]]
predictors_y2.head()

   Unnamed: 0     C1   C2        C4       C7  C3'        C5'        C6'
0           0  122.0  1.0  0.029074   51.345    1   3.864345  11.111111
1           1  259.0  0.0 -0.013352   25.936    0  12.028832   0.000000
2           2   90.0  1.0  0.020715    7.378    0   3.369134   0.000000
3           3  209.0  1.0  0.020023    8.526    0   3.299697   0.000000
4           4   80.0  1.0 -0.034895  632.298    1   3.726269   5.000000

Below is the key part of this notebook - which generates a `logistic regression` model to predict `Y1`/`Y2`.

The code works this way:

1. We generate two lists `f1_score_lst` and `auc_lst` to store f1_score and AUC from each of the `10` runs of the model;
2. Define model:
    1. We define a `LogisticRegression()` model;
    
    2. We split predictors (`predictors_y1`) and target `y1` to training (80%) and testing (20%);
    
    3. We fit the model `clf` to the training data, then use it to predict on the testing data;
    
    4. We also defined a `10-fold cross validation` to make sure our model do not overfit - see [here](https://scikit-learn.org/stable/modules/cross_validation.html) for more info;
    
    5. We append the f1_score and AUC of current model to the lists (`f1_score_lst` and `auc_lst`) we defined earlier.
  
3. Print out average f1_score and AUC for all 10 runs;
4. Print out average average accuracy from cross validation
5. Print out confusion matrix and classification report for the __last__ model.

__NOTE__: Step 3 provides the evaluation results we need; step 4 - 5 can be used to verify the results from step 3.

In [70]:
# lists for f1-score and AUC
f1_score_lst = []
auc_lst = []


#loop to calculate f1 and auc scores and present averages after 10 runs
for count in range (1,10):
    #Model building
    clf = LogisticRegression()
    X1_train, X1_test, y1_train, y1_test = train_test_split(predictors_y1, y1, test_size=0.2, random_state=123)
    clf.fit(X1_train, y1_train)

    y1_pred = clf.predict(X1_test)

    
    #10-fold cross validation
    kfold = model_selection.KFold(n_splits=10, random_state=7)
    scoring = 'accuracy'
    results = model_selection.cross_val_score(clf, X1_train, y1_train, cv=kfold, scoring=scoring)

    

    
    #calculate f1-score and AUC
    
    clf_roc_auc = roc_auc_score(y1_test, y1_pred)
    f1_score_lst.append(precision_recall_fscore_support(y1_test, y1_pred, average='weighted')[2])
    auc_lst.append(clf_roc_auc)


print('F1 {:.4f}; AUC {:.4f} '.format(np.mean(f1_score_lst),np.mean(auc_lst)))

#result=logit_model.fit()
confusion_matrix_y1 = confusion_matrix(y1_test, y1_pred)


#print(result.summary())
print('Accuracy of classifier on test set: {:.2f}'.format(clf.score(X1_test, y1_test)))

print("10-fold cross validation average accuracy of classifier: %.3f" % (results.mean()))

print('Confusion Matrix for Logistic Regression Classfier:')
print(confusion_matrix_y1)

print('Classification Report for Logistic Regression Classfier:')
print(classification_report(y1_test, y1_pred))

F1 0.5407; AUC 0.5409
Accuracy of classifier on test set: 0.54
10-fold cross validation average accuracy of classifier: 0.565
Confusion Matrix for Logistic Regression Classfier:
[[36 33]
 [22 28]]
Classification Report for Logistic Regression Classfier:
             precision    recall  f1-score   support

          0       0.62      0.52      0.57        69
          1       0.46      0.56      0.50        50

avg / total       0.55      0.54      0.54       119

Below code are used to evaluate model toward `Y2`. It is very similar to the code above - key difference is that `Y2` is imbalanced - so I wrote some code (under `# Begin oversampling`) to deal with that.

In [71]:
# lists for f1-score and AUC
f1_score_lst = []
auc_lst = []


#loop to calculate f1 and auc scores and present averages after 10 runs
for count in range (1,10):
    #Model building
    clf1 = LogisticRegression()

    
    # Splitting data into testing and training
    X2_train, X2_test, y2_train, y2_test = train_test_split(predictors_y2, y2, test_size=0.2, random_state=123)
    
    # Begin oversampling
    oversample = pd.concat([X2_train,y2_train],axis=1)
    max_size = oversample['Y2'].value_counts().max()
    lst = [oversample]
    for class_index, group in oversample.groupby('Y2'):
        lst.append(group.sample(max_size-len(group), replace=True))
    X2_train = pd.concat(lst)
    y2_train=pd.DataFrame.copy(X2_train['Y2'])
    del X2_train['Y2']
    
    # fitting model on oversampled data
    clf1.fit(X2_train, y2_train)
    
    y2_pred = clf1.predict(X2_test)
    
    
    #10-fold cross validation
    kfold = model_selection.KFold(n_splits=10, random_state=123)
    scoring = 'accuracy'
    results = model_selection.cross_val_score(clf1, X2_train, y2_train, cv=kfold, scoring=scoring)
    
    #calculate f1-score and AUC
    
    clf1_roc_auc = roc_auc_score(y2_test, y2_pred)
    
    
    #calculate average f1-score and AUC
    f1_score_lst.append(precision_recall_fscore_support(y2_test, y2_pred, average='weighted')[2])
    auc_lst.append(clf1_roc_auc)
    
    
print('F1 {:.4f}; AUC {:.4f} '.format(np.mean(f1_score_lst),np.mean(auc_lst)))

confusion_matrix_y2 = confusion_matrix(y2_test, y2_pred)


print('Accuracy of classifier on test set: {:.3f}'.format(clf1.score(X2_test, y2_test)))

print("10-fold cross validation average accuracy of clf1: %.3f" % (results.mean()))

print('Confusion Matrix for Classfier:')
print(confusion_matrix_y2)

print('Classification Report for Classfier:')
print(classification_report(y2_test, y2_pred))

F1 0.6062; AUC 0.6074
Accuracy of classifier on test set: 0.546
10-fold cross validation average accuracy of clf1: 0.509
Confusion Matrix for Classfier:
[[15  8]
 [46 50]]
Classification Report for Classfier:
             precision    recall  f1-score   support

          0       0.25      0.65      0.36        23
          1       0.86      0.52      0.65        96

avg / total       0.74      0.55      0.59       119