### I
- transform - square
- imp; bins mean
- norm; z score

In [1]:
import pandas as pd
import Configure_Dataset 
df, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1
5,94.0,1.0,-0.057556,197.591,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1
6,128.0,1.0,0.004106,5.146,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0
7,91.0,0.0,0.040620,NaN,0.826347,NaN,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0
8,100.0,1.0,-0.029316,279.600,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1
9,106.0,1.0,-0.024925,494.008,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0

In [2]:
import ImputeUsingBins
df = ImputeUsingBins.impute_bin_mean(df)

In [3]:
df["C7"].describe()

count      660.000000
mean       497.542063
std       1584.264504
min          0.074000
25%         41.458000
50%        133.102000
75%        350.305706
max      30683.000000
Name: C7, dtype: float64

In [4]:
#define bins with SIC codes
bins =[0.0000,130,30684]
#names
group_names=["12","100",]
df["Bins_C7"] = pd.cut(df["C7"],bins,labels= group_names)

In [5]:
dfxyc = df.groupby("Bins_C7")["C7"].count()

print (dfxyc)

Bins_C7
12     328
100    332
Name: C7, dtype: int64

In [6]:
df = df.join(pd.get_dummies(df['Bins_C7'], prefix = 'one_hot'))

In [7]:
df.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
Bins_C7                    0
one_hot_12                 0
one_hot_100                0
dtype: int64

In [10]:
df = df.drop("Bins_C7",axis=1)

In [11]:
df.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
one_hot_12                 0
one_hot_100                0
dtype: int64

In [12]:
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services,one_hot_12,one_hot_100
0,122.0,1.0,0.029074,51.345000,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0,1,0
1,259.0,0.0,-0.013352,25.936000,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0,1,0
2,90.0,1.0,0.020715,7.378000,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0,1,0
3,209.0,1.0,0.020023,8.526000,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0,1,0
4,80.0,1.0,-0.034895,632.298000,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1,0,1
5,94.0,1.0,-0.057556,197.591000,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1,0,1
6,128.0,1.0,0.004106,5.146000,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0,1,0
7,91.0,0.0,0.040620,350.305706,0.826347,0.053154,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0,0,1
8,100.0,1.0,-0.029316,279.600000,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1,0,1
9,106.0,1.0,-0.024925,494.008000,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0,0,1

In [13]:
from Transform import skew_transform_log
df = skew_transform_log(df)

In [14]:
from Normalize import z_score
df=z_score(df)
#df1=z_score(df1)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.069129,0.404995,0.654566,-0.398275,0.146508,0.310740,-0.105902,0.217250,-0.099645,1.046536,0.059313,1.269239,1.003035,-0.347193,-0.806226,1.006079,-1.006079
1,1.192960,-2.469165,-0.619777,-0.747253,0.205661,-0.109924,-1.352770,0.819304,-0.120604,-0.955533,2.295653,-0.787897,1.003035,-0.347193,-0.806226,1.006079,-1.006079
2,-0.385014,0.404995,0.403480,-1.389643,0.097368,1.418058,2.575141,-1.007462,0.083466,-0.955533,-0.210771,-0.787897,1.003035,-0.347193,-0.806226,1.006079,-1.006079
3,0.872752,0.404995,0.382698,-1.315744,-1.161107,1.398333,2.019205,-0.591091,0.753447,-0.955533,-0.251784,-0.787897,1.003035,-0.347193,-0.806226,1.006079,-1.006079
4,-0.560847,0.404995,-1.266863,0.884735,-0.557667,-0.529148,-0.341092,0.499281,0.029590,1.046536,-0.012345,1.198225,-0.996974,-0.347193,1.240347,-0.993958,0.993958

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:

correl = df.corr()

cmap = sns.diverging_palette(240,10, as_cmap = 'true')
sns.heatmap(correl, xticklabels = correl.columns.values, yticklabels = correl.columns.values, cmap = cmap)
plt.title('coefficient correlation')

In [ ]:
df_col = pd.concat([df1,df2], axis=1)
#df_col = df_col.rename(lambda x: x[1:], axis='columns')
df_col

In [15]:
import Combine
I = Combine.combine(df, y1, y2)
I.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,Y1,Y2
0,0.069129,0.404995,0.654566,-0.398275,0.146508,0.310740,-0.105902,0.217250,-0.099645,1.046536,0.059313,1.269239,1.003035,-0.347193,-0.806226,1.006079,-1.006079,0,1
1,1.192960,-2.469165,-0.619777,-0.747253,0.205661,-0.109924,-1.352770,0.819304,-0.120604,-0.955533,2.295653,-0.787897,1.003035,-0.347193,-0.806226,1.006079,-1.006079,1,0
2,-0.385014,0.404995,0.403480,-1.389643,0.097368,1.418058,2.575141,-1.007462,0.083466,-0.955533,-0.210771,-0.787897,1.003035,-0.347193,-0.806226,1.006079,-1.006079,1,0
3,0.872752,0.404995,0.382698,-1.315744,-1.161107,1.398333,2.019205,-0.591091,0.753447,-0.955533,-0.251784,-0.787897,1.003035,-0.347193,-0.806226,1.006079,-1.006079,1,1
4,-0.560847,0.404995,-1.266863,0.884735,-0.557667,-0.529148,-0.341092,0.499281,0.029590,1.046536,-0.012345,1.198225,-0.996974,-0.347193,1.240347,-0.993958,0.993958,0,1

In [16]:
import pandas as pd
I.to_csv('./Datasets/I_zzzzbin.csv')

In [ ]:
array = I.values

X = array[:,:-2] #features
Y1 = array[:,-2:-1] #target
Y2 = array[:,-1] #target

In [ ]:
# Import your necessary dependencies
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [ ]:
# Feature extraction
model = LogisticRegression()
rfe = RFE(model)
fit = rfe.fit(X, Y1)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

In [ ]:
# Feature extraction
model = LogisticRegression()
rfe = RFE(model,3)
fit = rfe.fit(X, Y1)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))