### I
- transform - log
- imp; bins mean
- norm; z score

In [3]:
import Configure_Dataset 
df, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1
5,94.0,1.0,-0.057556,197.591,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1
6,128.0,1.0,0.004106,5.146,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0
7,91.0,0.0,0.040620,NaN,0.826347,NaN,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0
8,100.0,1.0,-0.029316,279.600,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1
9,106.0,1.0,-0.024925,494.008,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0

In [4]:
from Transform import skew_transform_log
df = skew_transform_log(df)

In [5]:
import ImputeUsingBins
df = ImputeUsingBins.impute_bin_mean(df)

In [6]:
df.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [7]:
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,4.804021,2.718282,0.029074,3.938568,1.897288,0.054250,-5.323718,-4.688678,-4.516378,1.000000e+00,1.351792,2.407946,1.000000e+00,-20.723266,1.000000e-09
1,5.556828,1.000000,-0.013352,3.255632,1.905517,0.051395,-5.726618,-4.500360,-4.521238,1.000000e-09,2.487306,-20.723266,1.000000e+00,-20.723266,1.000000e-09
2,4.499810,2.718282,0.020715,1.998503,1.890452,0.061764,-4.457393,-5.071759,-4.473922,1.000000e-09,1.214656,-20.723266,1.000000e+00,-20.723266,1.000000e-09
3,5.342334,2.718282,0.020023,2.143120,1.715379,0.061630,-4.637032,-4.941521,-4.318578,1.000000e-09,1.193831,-20.723266,1.000000e+00,-20.723266,1.000000e-09
4,4.382027,2.718282,-0.034895,6.449361,1.799327,0.048550,-5.399715,-4.600461,-4.486414,1.000000e+00,1.315407,1.609438,1.000000e-09,-20.723266,1.000000e+00
5,4.543295,2.718282,-0.057556,5.286199,1.902440,0.045280,-5.670937,-5.233723,-4.599574,1.000000e+00,1.744737,-20.723266,1.000000e-09,-20.723266,1.000000e+00
6,4.852030,2.718282,0.004106,1.638220,2.150406,0.044295,-5.258384,-5.001664,-4.759829,1.000000e-09,1.242163,-20.723266,1.000000e+00,-20.723266,1.000000e-09
7,4.510860,1.000000,0.040620,4.076608,2.284957,0.053154,-5.318654,-4.538496,-4.521967,1.000000e-09,0.884374,-20.723266,1.000000e+00,-20.723266,1.000000e-09
8,4.605170,2.718282,-0.029316,5.633360,1.716561,0.061905,-5.542817,-4.782979,-4.147939,1.000000e-09,1.572066,-20.723266,1.000000e-09,-20.723266,1.000000e+00
9,4.663439,2.718282,-0.024925,6.202552,1.672443,0.050252,-4.725310,-4.619949,-4.129326,1.000000e+00,1.117306,-20.723266,1.000000e+00,-20.723266,1.000000e-09

In [8]:
from Normalize import z_score
df=z_score(df)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.069129,0.404995,0.654566,-0.324796,0.146508,0.310740,-0.105203,0.217762,-0.099294,1.046536,0.059313,1.269239,1.003035,-0.347193,-0.806226
1,1.192960,-2.469165,-0.619777,-0.680355,0.205661,-0.109924,-1.352174,0.819840,-0.120254,-0.955533,2.295653,-0.787897,1.003035,-0.347193,-0.806226
2,-0.385014,0.404995,0.403480,-1.334859,0.097368,1.418058,2.576061,-1.006998,0.083823,-0.955533,-0.210771,-0.787897,1.003035,-0.347193,-0.806226
3,0.872752,0.404995,0.382698,-1.259566,-1.161107,1.398333,2.020079,-0.590611,0.753829,-0.955533,-0.251784,-0.787897,1.003035,-0.347193,-0.806226
4,-0.560847,0.404995,-1.266863,0.982407,-0.557667,-0.529148,-0.340413,0.499804,0.029946,1.046536,-0.012345,1.198225,-0.996974,-0.347193,1.240347

In [9]:
import Combine
I = Combine.combine(df, y1, y2)
I.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,0.069129,0.404995,0.654566,-0.324796,0.146508,0.310740,-0.105203,0.217762,-0.099294,1.046536,0.059313,1.269239,1.003035,-0.347193,-0.806226,0,1
1,1.192960,-2.469165,-0.619777,-0.680355,0.205661,-0.109924,-1.352174,0.819840,-0.120254,-0.955533,2.295653,-0.787897,1.003035,-0.347193,-0.806226,1,0
2,-0.385014,0.404995,0.403480,-1.334859,0.097368,1.418058,2.576061,-1.006998,0.083823,-0.955533,-0.210771,-0.787897,1.003035,-0.347193,-0.806226,1,0
3,0.872752,0.404995,0.382698,-1.259566,-1.161107,1.398333,2.020079,-0.590611,0.753829,-0.955533,-0.251784,-0.787897,1.003035,-0.347193,-0.806226,1,1
4,-0.560847,0.404995,-1.266863,0.982407,-0.557667,-0.529148,-0.340413,0.499804,0.029946,1.046536,-0.012345,1.198225,-0.996974,-0.347193,1.240347,0,1