# Competition 1

## the purpose of this notebook is yada yada yada

backround info on the topic

directions as to what we did (to be filled out later)

here are our steps

In [1]:
# importing proper libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import sklearn

Here is the data dictionary in used as a reference of column names.
![Variable Dictionary](data_dictionary.PNG)

# create an initial data frame from data supplied to us
df  = pd.read_excel('Competition1_raw_data.xlsx', header=0,)
df.head()

## let's do some prelimanry EDA to get a sense of what we are dealing with

## First, let's look at some characteristics including data types, count, and simple distributions

# let's look at column values and their types
df.info()

Hmm, every column is classified as an object. We know that some columns, like C1 should be at least an integer. let's look at a couple of columns to see if they all share a common source error.

In [13]:
df['C1'].value_counts()

-      22
93     15
84     14
77     13
92     13
112    12
91     12
119    12
85     11
78     10
100    10
76     10
104    10
111    10
94     10
98      9
105     9
79      8
147     7
140     7
89      7
83      7
70      7
90      7
72      7
124     7
106     7
107     7
118     6
133     6
       ..
161     1
506     1
153     1
658     1
131     1
203     1
206     1
257     1
25      1
251     1
243     1
307     1
241     1
240     1
237     1
234     1
233     1
230     1
227     1
207     1
226     1
225     1
736     1
223     1
222     1
218     1
217     1
215     1
213     1
520     1
Name: C1, Length: 245, dtype: int64

There are 22 instances of "-", which, as described by the data dictionary, is a missing value. This format is not very useful, so we will convert all '-' to NaN values.

In [41]:
df = df.replace('-', np.NaN)

df.head(20)

AS OF NOW, WE HAVE LOADED A DATAFRAME AND REPLACED ALL "-" WITH NAN VALUES.