# Competition 1

## the purpose of this notebook is for independent work prior to a group merge

backround info on the topic

directions as to what we did (to be filled out later)

here are our steps

In [1]:
# importing proper libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import sklearn

Here is the data dictionary in used as a reference of column names.
![Variable Dictionary](data_dictionary.PNG)

In [2]:
# create an initial data frame from data provided
df  = pd.read_excel('Competition1_raw_data.xlsx', header=0,)
df.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10,9.5,8.5,11.87,122,1,3.43,...,10600000,51.345,470,12719,11560,301,690,62,117,139
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8,10,8,7.25,259,0,-1.62,...,2400000,25.936,791,21792,19585,510,1120,71,242,237
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7,14,12,6.7,90,1,-1.24,...,5000000,7.378,201,5262,4785,128,325,61,33,60
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16,14,12.39,209,1,-0.91,...,4500000,8.526,328,8259,7574,177,509,80,59,110
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21,21,19,56.6,80,1,0.07,...,8250000,632.298,572,14830,13176,336,720,67,149,167

## We will perform an prelimanry EDA to understand the characteristics of the data

## First, we will view the data types, count, and simple distributions

# look at column values and their types
df.info()

Every column is classified as an object; but we know that some columns, like C1 should be at least an integer. We will view several columns to see if they share a common source error

In [3]:
df['C1'].value_counts()

-      22
93     15
84     14
77     13
92     13
112    12
91     12
119    12
85     11
78     10
100    10
76     10
104    10
111    10
94     10
98      9
105     9
79      8
147     7
140     7
89      7
124     7
83      7
70      7
72      7
106     7
107     7
90      7
118     6
133     6
       ..
161     1
506     1
153     1
658     1
131     1
203     1
206     1
257     1
25      1
251     1
243     1
307     1
241     1
240     1
237     1
234     1
233     1
230     1
227     1
207     1
226     1
225     1
736     1
223     1
222     1
218     1
217     1
215     1
213     1
520     1
Name: C1, Length: 245, dtype: int64

There are 22 instances of "-", which the data dictionary defines as a missing value. This format is not useful for analysis, so we will convert all '-' to NaN values.

In [7]:
df = df.replace('-', np.NaN)

In [10]:
df.head(15)

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,10600000.0,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,...,2400000.0,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,5000000.0,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,4500000.0,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,8250000.0,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0
5,ACOM,Ancestry.com Inc.,7379,13.5,14.5,12.5,14.200000,94.0,1.0,0.06,...,7407407.0,197.591,510.0,17999.0,13934.0,328.0,815.0,62.0,96.0,181.0
6,ACOR,ACORDA THERAPEUTICS INC,2836,6.0,13.0,11.0,6.720000,128.0,1.0,-1.87,...,5500000.0,5.146,495.0,15758.0,13953.0,379.0,698.0,82.0,106.0,135.0
7,ACRX,ACELRX PHARMACEUTICALS INC,2834,5.0,14.0,12.0,4.550000,91.0,0.0,-0.74,...,8000000.0,NaN,334.0,11226.0,10056.0,276.0,-1.0,55.0,120.0,122.0
8,ACTV,ACTIVE NETWORK INC,7372,15.0,18.0,16.0,15.900000,100.0,1.0,-0.51,...,11000000.0,279.600,620.0,14813.0,13463.0,335.0,917.0,58.0,124.0,234.0
9,ACW,ACCURIDE CORP,3714,9.0,19.0,17.0,0.000000,106.0,1.0,1.49,...,11000000.0,494.008,385.0,9134.0,8107.0,198.0,459.0,81.0,90.0,147.0
10,ADKU,"ADCARE HEALTH SYSTEMS, INC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,332.0,7534.0,6747.0,169.0,263.0,51.0,65.0,74.0
11,ADLS,"Advanced Life Sciences Holdings, Inc.",2854,5.0,9.0,8.0,6.000000,99.0,1.0,-398.10,...,7000000.0,0.320,253.0,5788.0,5200.0,138.0,385.0,29.0,41.0,70.0
12,ADZA,ADEZA BIOMEDICAL CORP,2835,16.0,16.0,14.0,19.700001,126.0,1.0,0.27,...,3750000.0,26.499,206.0,5732.0,4963.0,141.0,259.0,21.0,43.0,80.0
13,AFFY,AFFYMAX INC,2834,25.0,24.0,22.0,33.880001,140.0,1.0,-2.19,...,3700000.0,0.074,416.0,10562.0,9835.0,231.0,726.0,81.0,118.0,138.0
14,AGAM,"AGA Medical Holdings, Inc.",3845,14.5,16.0,15.0,14.600000,488.0,1.0,0.18,...,13750000.0,166.896,624.0,18633.0,16471.0,380.0,909.0,98.0,256.0,172.0