### J

- imp; bins median
- norm; z score

In [1]:
import Configure_Dataset 
df, y1, y2 = Configure_Dataset.configure('Competition1_raw_data.xlsx')
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1
5,94.0,1.0,-0.057556,197.591,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1
6,128.0,1.0,0.004106,5.146,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0
7,91.0,0.0,0.040620,NaN,0.826347,NaN,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0
8,100.0,1.0,-0.029316,279.600,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1
9,106.0,1.0,-0.024925,494.008,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0

In [2]:
import ImputeUsingBins
df = ImputeUsingBins.impute_bin_median(df)

In [3]:
df.isnull().sum()

C1                         0
C2                         0
C4                         0
C7                         0
%_long_sentences           0
%_long_words               0
%_positive_words           0
%_negative_words           0
%_uncertain_words          0
C3'                        0
C5'                        0
C6'                        0
one_hot_Manufacturing      0
one_hot_Other              0
one_hot_Public Services    0
dtype: int64

In [4]:
df.head(10)

,C1,C2,C4,C7,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services
0,122.0,1.0,0.029074,51.345,0.640426,0.054250,0.004875,0.009199,0.010929,1,3.864345,11.111111,1,0,0
1,259.0,0.0,-0.013352,25.936,0.644753,0.051395,0.003258,0.011105,0.010876,0,12.028832,0.000000,1,0,0
2,90.0,1.0,0.020715,7.378,0.636816,0.061764,0.011593,0.006271,0.011403,0,3.369134,0.000000,1,0,0
3,209.0,1.0,0.020023,8.526,0.539634,0.061630,0.009686,0.007144,0.013319,0,3.299697,0.000000,1,0,0
4,80.0,1.0,-0.034895,632.298,0.587413,0.048550,0.004518,0.010047,0.011261,1,3.726269,5.000000,0,0,1
5,94.0,1.0,-0.057556,197.591,0.643137,0.045280,0.003445,0.005334,0.010056,1,5.724394,0.000000,0,0,1
6,128.0,1.0,0.004106,5.146,0.765657,0.044295,0.005204,0.006727,0.008567,0,3.463095,0.000000,1,0,0
7,91.0,0.0,0.040620,72.825,0.826347,0.052457,0.004899,0.010689,0.010868,0,2.421469,0.000000,1,0,0
8,100.0,1.0,-0.029316,279.600,0.540323,0.061905,0.003915,0.008371,0.015797,0,4.816591,0.000000,0,0,1
9,106.0,1.0,-0.024925,494.008,0.514286,0.050252,0.008868,0.009853,0.016094,1,3.056608,0.000000,1,0,0

In [7]:
from Normalize import z_score
df=z_score(df)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.181588,0.404995,0.654566,-0.262896,0.176554,0.311205,-0.250631,0.057682,-0.200855,1.046536,-0.107787,0.525006,1.003035,-0.347193,-0.806226
1,0.715586,-2.469165,-0.619777,-0.278906,0.232307,-0.109427,-1.180767,0.703766,-0.219682,-0.955533,1.483840,-0.497238,1.003035,-0.347193,-0.806226
2,-0.391147,0.404995,0.403480,-0.290599,0.130054,1.418439,3.614840,-0.934567,-0.032423,-0.955533,-0.204326,-0.497238,1.003035,-0.347193,-0.806226
3,0.388150,0.404995,0.382698,-0.289876,-1.121856,1.398716,2.518054,-0.638891,0.648552,-0.955533,-0.217863,-0.497238,1.003035,-0.347193,-0.806226
4,-0.456634,0.404995,-1.266863,0.103148,-0.506367,-0.528620,-0.455890,0.345232,-0.082724,1.046536,-0.134705,-0.037228,-0.996974,-0.347193,1.240347

In [8]:
import Combine
J = Combine.combine(df, y1, y2)
J.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Y1,Y2
0,-0.181588,0.404995,0.654566,-0.262896,0.176554,0.311205,-0.250631,0.057682,-0.200855,1.046536,-0.107787,0.525006,1.003035,-0.347193,-0.806226,0,1
1,0.715586,-2.469165,-0.619777,-0.278906,0.232307,-0.109427,-1.180767,0.703766,-0.219682,-0.955533,1.483840,-0.497238,1.003035,-0.347193,-0.806226,1,0
2,-0.391147,0.404995,0.403480,-0.290599,0.130054,1.418439,3.614840,-0.934567,-0.032423,-0.955533,-0.204326,-0.497238,1.003035,-0.347193,-0.806226,1,0
3,0.388150,0.404995,0.382698,-0.289876,-1.121856,1.398716,2.518054,-0.638891,0.648552,-0.955533,-0.217863,-0.497238,1.003035,-0.347193,-0.806226,1,1
4,-0.456634,0.404995,-1.266863,0.103148,-0.506367,-0.528620,-0.455890,0.345232,-0.082724,1.046536,-0.134705,-0.037228,-0.996974,-0.347193,1.240347,0,1