## This notebook contains the starter code to load a dataset

## Data Visualization/EDA

The next cell returns a pandas profile report, named 'df_profile_report', which gives detailed information regarding the columns in our dataset. Since the report is already made, we comment out the code.

In [5]:
#trying out pandas profiling
#import pandas_profiling as pp
#pfr = pp.ProfileReport(df)
#pfr.to_file('df_profile_report')

Our pandas profile report revealed that in order to run pipelines, we need to format some data first. We create a function to handle all processing needs . Here are the processing  requirements:
 * since the IPO Pricing columns are used to calculate Y1 and Y2, we cannot have any missing values in those columns. We cannot impute either, as this would impute error into our target variables, which is not appropriate. Thus, our only option is to drop rows that have missing in those columns.
 * calculate the control variables, as well as the Textual characteristics ratio values, as noted in the hints.
 * I3 has missing values, but these missing values can be researched, which is what we have done, and thus will impute the correct values in the sequence of the definition.
 
 
Intuitively, the SIC codes are important but not conveniant to use. Due to high cardinality, they act as if they are Identification-type values, but their sequencing of numbers contain information. Therefore, we decided to bin the SIC codes into three main bins, which contains a broad grouping of all the particular industries the companies in this dataset fall into, based on the companies' SIC codes. Information regarding SIC codes were taken from https://www.sec.gov/edgar/searchedgar/companysearch.html. We originally binned into 5 classes, but two of our classes held roughly 70% of all the data, while another two groups only had 9 observations between them. Thus we decided to have 3 classes: the two containing 70% between them, and then all the other 'Bins' values grouped into a value of 'Other'. With these steps in mind, we create a function that will take in our original dataset and convert it into a format that is usable for pipelines. The function is in the module 'Configure_dataset.py'

In [1]:
import Configure_Dataset 
df = Configure_Dataset.configure('Competition1_raw_data.xlsx')
df.columns

Index(['C1', 'C2', 'C4', 'C7', 'Y1', 'Y2', '%_long_sentences', '%_long_words',
       '%_positive_words', '%_negative_words', '%_uncertain_words', 'C3'',
       'C5'', 'C6'', 'one_hot_Manufacturing', 'one_hot_Other',
       'one_hot_Public Services', 'one_hot_Wholesale  Trade'],
      dtype='object')

In [5]:
df.isnull().sum()

C1                           0
C2                           0
C4                           0
C7                          60
Y1                           0
Y2                           0
%_long_sentences             0
%_long_words                 2
%_positive_words             2
%_negative_words             2
%_uncertain_words            2
C3'                          0
C5'                          0
C6'                          0
one_hot_Manufacturing        0
one_hot_Other                0
one_hot_Public Services      0
one_hot_Wholesale  Trade     0
dtype: int64

In [6]:
import numpy as np
df.loc[df['%_long_words'].isnull()]

,C1,C2,C4,C7,Y1,Y2,%_long_sentences,%_long_words,%_positive_words,%_negative_words,%_uncertain_words,C3',C5',C6',one_hot_Manufacturing,one_hot_Other,one_hot_Public Services,one_hot_Wholesale Trade
121,100.0,1.0,0.056995,1239.711,1,0,0.740854,NaN,NaN,NaN,NaN,1,1.029477,0.0,1,0,0,0
195,120.0,1.0,-0.011181,911.612,1,0,0.765751,NaN,NaN,NaN,NaN,0,2.821936,0.0,0,0,0,1